<nav class="navbar navbar-dark bg-primary" aria-label="breadcrumb">
  <ol class="breadcrumb bg-primary">
    <li class="breadcrumb-item">
      <a href="/" class="text-light">
          <%=frmName %>
      </a>
    </li>
    <% url.forEach((item, i) => {%>
    <li class="breadcrumb-item">
      <a href=<%=item %> class="text-light" >
          <%= urltitle[i] %>
      </a>
     </li>
     <%}); %>
  </ol>
  <% if (elems.header[0]) { %>
    <%- include("../partials/" + elems.header[0]) -%>
  <% } %>
  <div>
    Node.version- <%= nodeVersion %> 
  </div>
  </nav>