<!DOCTYPE html>
<html lang="ru">
<head>
  <%- include("../partials/head.ejs") -%>
</head>
<body class="container">

  <header>
    <%- include("../partials/header.ejs") -%>
  </header>

  <div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalLabel">Adding User</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <fildset class="form-group">
              <label for="user-name" class="mr-sm-2 mb-0 sr-only">User Name</label>
              <input type="text" class="form-control mr-sm-2 mb-2 mb-sm-0" id="user-name" name="user-name" 
              placeholder="User name">
            </fildset>
            <fildset class="form-group">
              <label for="user-role" class="mr-sm-2 mb-0 sr-only">User Role</label>
              <input type="text" class="form-control mr-sm-2 mb-2 mb-sm-0" id="user-role" name="user-role"
              placeholder="User Role">
            </fildset>
            <fildset class="form-group">
              <label for="email" class="mr-sm-2 mb-0 sr-only">E-Mail:</label>
              <input type="email" class="form-control mr-sm-2 mb-2 mb-sm-0" id="email" name="email"
              placeholder="E-Mail">
            </fildset>
            <button type="submit" class="btn btn-outline-primary mr-sm-2 mb-0">
              Submit
            </button>
          </form>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

  

  <main>
    <h5><%=tblName %></h5>
    <%- include("../partials/" + page) -%>
  </main>

  <footer>
    <%- include("../partials/footer.ejs") -%>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>