<!DOCTYPE html>
<html lang="ru">
<head>
  <%- include("../partials/head.ejs") -%>
</head>
<body class="container-fluid">

  <header>
    <%- include("../partials/header.ejs") -%>
  </header>

  <main>
    <h5><%=tblName %></h5>
    <%- include("../partials/" + page) -%>
  </main>

  <footer>
    <%- include("../partials/footer.ejs") -%>
  </footer>
  <script>
    window.addEventListener('load' ,() => {
      // let str = new URL(document.location).pathname;      
      let str = document.location.pathname;      
      let li = $(`a[href="${str}"]`)[0].closest("li");
      li.classList.add('active');
      li.setAttribute('aria-current', 'page')
      li.innerHTML = $(`a[href="${str}"]`)[0].innerText;
    })
  </script>
  <script src="http://localhost:5000/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>