<!DOCTYPE html>
<html lang="ru">
<head>
  <%- include("../partials/head.ejs") -%>
</head>
<body class="container">

  <header>
    <%- include("../partials/header.ejs") -%>
  </header>

  <main>
    <%=tblName %>
    <%- include("../partials/" + page) -%>
  </main>

  <footer>
    <%- include("../partials/footer.ejs") -%>
  </footer>
  
</body>
</html>